<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seig.ljm.xkckserver.mapper.AccessDeviceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="seig.ljm.xkckserver.entity.AccessDevice">
        <id column="device_id" property="deviceId" />
        <result column="location" property="location" />
        <result column="ip_address" property="ipAddress" />
        <result column="mac_address" property="macAddress" />
        <result column="status" property="status" />
        <result column="device_type" property="deviceType" />
        <result column="last_heartbeat_time" property="lastHeartbeatTime" />
        <result column="firmware_version" property="firmwareVersion" />
        <result column="door_status" property="doorStatus" />
        <result column="description" property="description" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        device_id, location, ip_address, mac_address, status, device_type, last_heartbeat_time, firmware_version, door_status, description
    </sql>

</mapper>
