<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seig.ljm.xkckserver.mapper.QuotaSettingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="seig.ljm.xkckserver.entity.QuotaSetting">
        <id column="quota_id" property="quotaId" />
        <result column="date" property="date" />
        <result column="max_quota" property="maxQuota" />
        <result column="current_count" property="currentCount" />
        <result column="special_event" property="specialEvent" />
        <result column="is_holiday" property="isHoliday" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        quota_id, date, max_quota, current_count, special_event, is_holiday, create_time, update_time
    </sql>

</mapper>
