<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seig.ljm.xkckserver.mapper.RFIDCardMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="seig.ljm.xkckserver.entity.RFIDCard">
        <id column="card_id" property="cardId" />
        <result column="uid" property="uid" />
        <result column="issue_time" property="issueTime" />
        <result column="return_time" property="returnTime" />
        <result column="status" property="status" />
        <result column="expiration_time" property="expirationTime" />
        <result column="reservation_id" property="reservationId" />
        <result column="last_admin_id" property="lastAdminId" />
        <result column="remarks" property="remarks" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        card_id, uid, issue_time, return_time, status, expiration_time, reservation_id, last_admin_id, remarks
    </sql>

</mapper>
